timeout=3

menuentry "postmarketOS" {
	linux ($root)/vmlinuz pmos_boot=SYSTEM_DRV earlycon=efifb keep_bootcon console=tty0 PMOS_NO_OUTPUT_REDIRECT
	initrd ($root)/initramfs
	devicetree ($root)/dtbs/qcom/sdm850-lenovo-yoga-c630.dtb
}
